In [3]:
#import statements

import numpy as np
import pandas as pd
import os

In [11]:
#replace with your location 
folder = 'C:\\Users\\ossan\\DATA606\\DATA\\SPLIT\\'
files = os.listdir(folder) 
files

['GLODAP_split0.csv',
 'GLODAP_split1.csv',
 'GLODAP_split10.csv',
 'GLODAP_split11.csv',
 'GLODAP_split12.csv',
 'GLODAP_split13.csv',
 'GLODAP_split14.csv',
 'GLODAP_split15.csv',
 'GLODAP_split16.csv',
 'GLODAP_split2.csv',
 'GLODAP_split3.csv',
 'GLODAP_split4.csv',
 'GLODAP_split5.csv',
 'GLODAP_split6.csv',
 'GLODAP_split7.csv',
 'GLODAP_split8.csv',
 'GLODAP_split9.csv']

In [12]:
frames = [] #make a list of dataframes 
for i in files: 
    frames.append(pd.read_csv(folder+ str(i)))

In [13]:
df= pd.concat(frames, ignore_index=True)

,cruise,station,cast,year,month,day,hour,minute,latitude,longitude,...,cfc11,pcfc11,cfc12,pcfc12,pcfc113,pccl4,psf6,Ocean Region,depthBinned,Date
0,1.0,319.0,1.0,1984.0,7.0,20.0,14.0,46.0,80.567,7.2267,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Arctic,< 200,1984-07-20
1,1.0,319.0,1.0,1984.0,7.0,20.0,14.0,46.0,80.567,7.2267,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Arctic,< 200,1984-07-20
2,1.0,319.0,1.0,1984.0,7.0,20.0,14.0,46.0,80.567,7.2267,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Arctic,< 200,1984-07-20
3,1.0,319.0,1.0,1984.0,7.0,20.0,14.0,46.0,80.567,7.2267,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Arctic,< 200,1984-07-20
4,1.0,319.0,1.0,1984.0,7.0,20.0,14.0,46.0,80.567,7.2267,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Arctic,< 200,1984-07-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253233,84.0,28.0,1.0,2009.0,2.0,13.0,9.0,32.0,-39.968,-172.6900,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Pacific,< 1000,2009-02-13
1253234,84.0,28.0,1.0,2009.0,2.0,13.0,9.0,32.0,-39.968,-172.6900,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Pacific,< 1000,2009-02-13
1253235,84.0,28.0,1.0,2009.0,2.0,13.0,9.0,32.0,-39.968,-172.6900,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Pacific,< 4000,2009-02-13
1253236,84.0,28.0,1.0,2009.0,2.0,13.0,9.0,32.0,-39.968,-172.6900,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Pacific,< 4000,2009-02-13
1253237,84.0,28.0,1.0,2009.0,2.0,13.0,9.0,32.0,-39.968,-172.6900,...,NaN,-9999.0,NaN,-9999.0,-9999.0,-9999.0,-9999.0,Pacific,< 4000,2009-02-13